{% load static %}

<head>
  <title>Driver details form-1</title>
  <!-- Include Bootstrap CSS -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/vendor/bootstrap5/bootstrap5.css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/form.css" />
  {% comment %}
  <link href="library/bootstrap-5/    .min.css" rel="stylesheet" /> {% endcomment %}
  <script src="library/bootstrap-5/bootstrap.bundle.min.js"></script>
  <script src="/static/js/vendor/bootstrap5/dselect.js"></script>
  <style>
    .errorMsg {
      font-size: 0.7rem;
      color: rgb(255, 0, 0);
      margin-top: 0.3rem;
      list-style-type: none;
    }

    .isInvalid {
      border: 1px solid rgb(255, 0, 0);
      border-radius: 7px;
    }

    body {
      font-family: "Helvetica Neue", Helvetica, Arial
    }

    .form-select {
      text-align: left !important;
      padding: 0.63rem 0.8rem;
    }

    .dropdown-menu {
      width: 100%;
    }

    .form-element {
      margin-bottom: 1rem;
    }

    @media (max-width: 768px) {
      body {
        font-size: 14px;
      }
      .container {
        padding: 0 15px;
      }
    }

    @media (max-width: 576px) {
      .col-md-4 {
        flex-basis: 100%;
        max-width: 100%;
      }
    }

    @media (max-width: 768px) {
      body {
        font-size: 14px;
      }
    }

    .responsive-btn {
      max-width: 100%;
      margin: 0 auto;
    }

    /* #signUpForm {
      max-width: 100%;
      padding: 15px;
    } */
  </style>
</head>

<body>
  <div class="container-fluid" id="mainCont">
    <form id="signUpForm" action="{% url 'DriverSchedule_app:createFormSession' %}" method="POST"
      enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-header d-flex mb-4">
        <span class="stepIndicator text-active">Trip details</span>
        <span class="stepIndicatorOff text-secondary">Loads details</span>
      </div>
      <!-- Driverid, Clientid and shift type -->
      <div class="row">
        <div class="col-md-4 col-12">
          <div class="step">
            <div class="mb-3">
              <label for="driverId">Driver ID :</label>

              {% if driver_ids is not None %}
              <input type="text" name="driverId" id="driverId"
                value="{% if driver_ids is not None %}{{driver_ids}}{% endif %}" readonly class="d-block">
              {% endif %}

              {% if drivers is not None%}
              <select name="driverId" class="form-select" id="driverId">
                <option value="" disabled selected>Select Driver Id</option>
                {% for driver in drivers %}
                <option value="{{ driver.driverId }}-{{driver.name}}">{{ driver.driverId }} - {{driver.name}}</option>
                {% endfor %}
              </select>
              {% endif %}

              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="step">
            <div class="mb-3">
              <label for="clientId">Client Name :</label>
              <select name="clientName" class="form-select" id="clientId">
                <option value="" disabled selected>Select Client Name</option>
                {% for client_name in client_ids %}
                <option value="{{ client_name }}">{{ client_name }}</option>
                {% endfor %}
              </select>
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="step">
            <div class="mb-3">
              <label for="shiftType">Shift Type :</label>
              <select id="shiftType" class="form-select" name="shiftType">
                <option value="" selected disabled>Select Shift Type</option>
                <option value="morning">Morning</option>
                <option value="afternoon">Afternoon</option>
                <option value="night">Night</option>
              </select>
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>

      </div>

      <!-- Number of Logs and truck number -->
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="step">
            <div class="mb-3">
              <label for="numberOfLogs">Number of load :</label>
              <input type="number" min="1" id="numberOfLogs" name="numberOfLogs"
                value="{{ request.session.data.numberOfLogs|default_if_none:'' }}" />
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="step">
            <div class="mb-3">
              <label for="numberOfLogs">Truck No :</label>
              <!-- <input type="text" id="searchInput" placeholder="Search..."> -->
              <select name="truckNum" class="form-select" id="truckNum">
                <option value="" disabled selected>Select Truck No</option>
                <option value="1234">1234</option>

                <!-- {% for admin_truck_nos in admin_truck_no %}
                <option value="{{ admin_truck_nos }}">
                  {{ admin_truck_nos }}
                </option>
                {% endfor %} {% for client_truck_nos in client_truck_no %}
                <option value="{{ client_truck_nos }}">
                  {{ client_truck_nos }}
                </option>
                {% endfor %} -->

              </select>
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
      </div>
      <!-- ---------------------------------------------------------------------------------------------------------- -->
      <!-- source and shift date number -->
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="step">
            <div class="mb-3">
              <label for="shiftDate">Shift date:</label>
              <input type="date" id="shiftDate" name="shiftDate" />
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="step">
            <div class="mb-3">
              <label for="source">Source :</label>
              <select name="source" class="form-select" id="source">
                <option value="" disabled selected>Select source</option>

                {% for source in sources %}
                <option value="{{ source }}">
                  {{ source }}
                </option>
                {% endfor %}
              </select>
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
      </div>
      <!-- ---------------------------------------------------------------------------------------------------------- -->

      <!-- Startdate and enddate and logSheet-->
      <div class="row">
        <div class="col-md-4 col-12">
          <div class="step">
            <div class="mb-3">
              <label for="startTime">Start time :</label>
              <input type="time" name="startTime" id="startTime"
                value="{{ request.session.data.startTime|default_if_none:'' }}" />
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="step">
            <div class="mb-3">
              <label for="endTime">End time :</label>
              <input type="time" name="endTime" id="endTime"
                value="{{ request.session.data.endTime|default_if_none:'' }}" />
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="step">
            <div class="mb-3">
              <label for="logSheet">Upload Log Sheet :</label>
              <input type="file" placeholder="Load Sheet" name="logSheet" class="p-2" id="logSheet" />
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <textarea placeholder="Comments" name="comments"
          class="form-control">{{ request.session.data.comments|default_if_none:'' }}</textarea>
      </div>
      <div class="row">
        <div class="form-footer">
          <input type="submit" id="nextBtn" value="Next" class="btn btn-primary  btn-lg mx-auto responsive-btn" />
        </div>
      </div>
    </form>
  </div>

  <!-- Include Bootstrap JS -->
  <script src="/static/js/vendor/bootstrap5/bootstrap5.bundle.min.js"></script>

  <!-- jquery cdn  -->
  {% comment %}
  <script src="/static/js/vendor/jquery/jquery-3.7.0.min.js"></script> {% endcomment %}
  <script src="/static/js/vendor/jquery/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="{% static 'js/form1.js' %}"></script>

</body>