{% load static %}

<head>
  <title>Driver details form-1</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="/static/css/vendor/bootstrap5/bootstrap5.css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/form.css" />
  {% comment %}
  <link href="library/bootstrap-5/    .min.css" rel="stylesheet" /> {% endcomment %}
  <script src="library/bootstrap-5/bootstrap.bundle.min.js"></script>
  <script src="/static/js/vendor/bootstrap5/dselect.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->
  <style>
    .errorMsg {
      font-size: 0.7rem;
      color: rgb(255, 0, 0);
      margin-top: 0.3rem;
      list-style-type: none;
    }

    .isInvalid {
      border: 1px solid rgb(255, 0, 0);
      border-radius: 7px;
    }

    body {
      font-family: "Helvetica Neue", Helvetica, Arial
    }

    .form-select {
      text-align: left !important;
      padding: 0.63rem 0.8rem;
    }

    .dropdown-menu {
      width: 100%;
    }

    /* #driverId{
      display: block!important;
    }*/
  </style>
</head>

<body>
  <div class="container" id="mainCont">
    <form id="signUpForm" action="{% url 'DriverSchedule_app:createFormSession' %}" method="POST"
      enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-header d-flex mb-4">
        <span class="stepIndicator text-active">Trip details</span>
        <span class="stepIndicatorOff text-secondary">Loads details</span>
      </div>
      <!-- Driverid, Clientid and shift type -->
      <div class="row">
        <div class="col-md-4">
          <div class="step">
            <div class="mb-3">
              <label for="driverId">Driver ID :</label>

              {% if driver_ids is not None %}
              <input type="text" name="driverId" id="driverId"
                value="{% if driver_ids is not None %}{{driver_ids}}{% endif %}" readonly class="d-block">
              {% endif %}

              {% if drivers is not None%}
              <select name="driverId" class="form-select" id="driverId">
                <option value="" disabled selected>Select Driver Id</option>
                {% for driver in drivers %}
                <option value="{{ driver.driverId }}-{{driver.name}}">{{ driver.driverId }} - {{driver.name}}</option>
                {% endfor %}
              </select>
              {% endif %}

              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="step">
            <div class="mb-3">
              <label for="clientId">Client Name :</label>
              <select name="clientName" class="form-select" id="clientId">
                <option value="" disabled selected>Select Client Name</option>
                {% for client_name in client_ids %}
                <option value="{{ client_name }}">{{ client_name }}</option>
                {% endfor %}
              </select>
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="step">
            <div class="mb-3">
              <label for="shiftType">Shift Type :</label>
              <select id="shiftType" class="form-select" name="shiftType">
                <option value="" selected disabled>Select Shift Type</option>
                <option value="morning">Morning</option>
                <option value="afternoon">Afternoon</option>
                <option value="night">Night</option>
              </select>
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>

      </div>

      <!-- Number of Logs and truck number -->
      <div class="row">
        <div class="col-md-6">
          <div class="step">
            <div class="mb-3">
              <label for="numberOfLogs">Number of load :</label>
              <input type="number" min="1" id="numberOfLogs" name="numberOfLogs"
                value="{{ request.session.data.numberOfLogs|default_if_none:'' }}" />
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="step">
            <div class="mb-3">
              <label for="numberOfLogs">Truck No :</label>
              <select name="truckNum" class="form-select" id="truckNum">
                <option value="" disabled selected>Select Truck No</option>
                {% for admin_truck_nos in admin_truck_no %}
                <option value="{{ admin_truck_nos }}">
                  {{ admin_truck_nos }}
                </option>
                {% endfor %} {% for client_truck_nos in client_truck_no %}
                <option value="{{ client_truck_nos }}">
                  {{ client_truck_nos }}
                </option>
                {% endfor %}
              </select>
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
      </div>
      <!-- ---------------------------------------------------------------------------------------------------------- -->
      <!-- source and shift date number -->
      <div class="row">
        <div class="col-md-6">
          <div class="step">
            <div class="mb-3">
              <label for="shiftDate">Shift date:</label>
              <input type="date" id="shiftDate" name="shiftDate" />
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="step">
            <div class="mb-3">
              <label for="source">Source :</label>
              <select name="source" class="form-select" id="source">
                <option value="" disabled selected>Select source</option>

                {% for source in sources %}
                <option value="{{ source }}">
                  {{ source }}
                </option>
                {% endfor %}
              </select>
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
      </div>
      <!-- ---------------------------------------------------------------------------------------------------------- -->

      <!-- Startdate and enddate and logSheet-->
      <div class="row">
        <div class="col-md-4">
          <div class="step">
            <div class="mb-3">
              <label for="startTime">Start time :</label>
              <input type="time" name="startTime" id="startTime"
                value="{{ request.session.data.startTime|default_if_none:'' }}" />
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="step">
            <div class="mb-3">
              <label for="endTime">End time :</label>
              <input type="time" name="endTime" id="endTime"
                value="{{ request.session.data.endTime|default_if_none:'' }}" />
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="step">
            <div class="mb-3">
              <label for="logSheet">Upload Log Sheet :</label>
              <input type="file" placeholder="Load Sheet" name="logSheet" class="p-2" id="logSheet" />
              <i class="fa" aria-hidden="true"></i>
              <li class="errorMsg"></li>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <textarea placeholder="Comments" name="comments">
{{ request.session.data.comments|default_if_none:'' }}</textarea>
      </div>
      <div class="row">
        <div class="form-footer">
          <input type="submit" id="nextBtn" value="Next" class="w-25 d-block ms-auto" />
        </div>
      </div>
    </form>
  </div>

  <!-- Include Bootstrap JS -->
  <script src="/static/js/vendor/bootstrap5/bootstrap5.bundle.min.js"></script>

  <!-- jquery cdn  -->
  {% comment %}
  <script src="/static/js/vendor/jquery/jquery-3.7.0.min.js"></script> {% endcomment %}
  <script src="/static/js/vendor/jquery/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

  <script>
    if ($(window).width() < 1000) {
      $("body #mainCont").addClass("container-fluid");
      $("body #mainCont").removeClass("container");
    } else {
    }

    document
      .getElementById("nextBtn")
      .addEventListener("click", function (event) {
        event.preventDefault();

        if (checkData()) {
          $("#signUpForm").submit();
        }

      });

    var driverId = document.getElementById("driverId");
    var clientId = document.getElementById("clientId");
    var shiftType = document.getElementById("shiftType");
    var numberOfLogs = document.getElementById("numberOfLogs");
    var truckNum = document.getElementById("truckNum");
    var source = document.getElementById("source");
    var shiftDate = document.getElementById("shiftDate");
    var startTime = document.getElementById("startTime");
    var endTime = document.getElementById("endTime");
    var logSheet = document.getElementById("logSheet");
    var drivers = "{{drivers}}"

    function checkData() {
      var driverIdValue = driverId.value.trim();
      var clientIdValue = clientId.value.trim();
      var shiftTypeValue = shiftType.value.trim();
      var numberOfLogsValue = numberOfLogs.value.trim();
      var truckNumValue = truckNum.value.trim();
      var sourceValue = source.value.trim();
      var shiftDateValue = shiftDate.value.trim();
      var startTimeValue = startTime.value.trim();
      var endTimeValue = endTime.value.trim();
      var logSheetValue = logSheet.value.trim();

      var isValid = true;



      if (drivers) {
        if (driverIdValue == "") {
          setError(driverId, "Driver id can't be left blank.");
          $("#driverId").next('.dselect-wrapper').addClass('isInvalid')
          isValid = false;
        } else {
          setSuccess(driverId);
        }
      } else {
        if (driverIdValue == "") {
          setError(driverId, "Driver ID can't be blank.");
          $("#driverId").addClass('isInvalid')
          isValid = false;
        } else {
          setSuccess(driverId);
        }
      }

      if (clientIdValue == "") {
        setError(clientId, "Client ID can't be blank.");
        $("#clientId").next('.dselect-wrapper').addClass('isInvalid')

        isValid = false;
      } else {
        setSuccess(clientId);
      }
      if (shiftTypeValue == "") {
        setError(shiftType, "Shift type can't be empty.");
        isValid = false;
      } else {
        setSuccess(shiftType);
      }
      if (numberOfLogsValue == "") {
        setError(numberOfLogs, "Number of loads can't be empty.");
        isValid = false;
      } else {
        setSuccess(numberOfLogs);
      }
      if (truckNumValue == "") {
        setError(truckNum, "Truck number can't be left blank.");
        $("#truckNum").next('.dselect-wrapper').addClass('isInvalid')

        isValid = false;
      } else {
        setSuccess(truckNum);
      }

      if (shiftDateValue == "") {
        setError(shiftDate, "Shift date can't be blank.");
        isValid = false;
      } else {
        setSuccess(shiftDate);
      }

      if (sourceValue == "") {
        setError(source, "source can't be left blank.");
        $("#source").next('.dselect-wrapper').addClass('isInvalid')

        isValid = false;
      } else {
        setSuccess(source);
      }

      if (startTimeValue == "") {
        setError(startTime, "Start time can't be blank.");
        isValid = false;
      } else {
        setSuccess(startTime);
      }
      if (endTimeValue == "") {
        setError(endTime, "End time can't be blank.");
        isValid = false;
      } else {
        setSuccess(endTime);
      }

      if (logSheetValue == "") {
        setError(logSheet, "Please upload a Load Sheet.");
        isValid = false;
      } else {
        setSuccess(logSheet);
      }

      var invalidInputs = document.querySelectorAll('.isInvalid');
      invalidInputs.forEach(function (input) {
        setError(input, "This field is required.");
      });

      return isValid;
    }

    function setError(inputElement, msg) {
      var parentBox = inputElement.parentElement;
      parentBox.classList.remove("success");
      parentBox.classList.add("error");
      var span = parentBox.querySelector(".errorMsg");
      var fa = parentBox.querySelector(".fa");
      span.innerText = msg;
      fa.className = "fa fa-exclamation-circle";
      inputElement.style.borderColor = "rgb(255, 0, 0)";
    }

    function setSuccess(inputElement) {
      var parentBox = inputElement.parentElement;
      parentBox.classList.remove("error");
      parentBox.classList.add("success");
      var span = parentBox.querySelector(".errorMsg");
      span.innerText = "";
      var fa = parentBox.querySelector(".fa");
      $(`#${inputElement.id}`).next('.dselect-wrapper').removeClass('isInvalid')
      fa.className = "fa fa-check-circle";
      inputElement.style.borderColor = "";
    }

    var select_box_element = document.querySelector("#clientId");

    dselect(select_box_element, {
      search: true,
    });

    var select_box_element = document.querySelector("#source");

    dselect(select_box_element, {
      search: true,
    });

    var select_box_element = document.querySelector("#truckNum");

    dselect(select_box_element, {
      search: true,
    });

    if (drivers) {
      var driverIdSelect = document.querySelector("#driverId");

      dselect(driverIdSelect, {
        search: true,
      });
    }

    // Get the input element
    const numberOfLogsInput = document.getElementById('numberOfLogs');

    // Add an event listener for input changes
    numberOfLogsInput.addEventListener('input', function () {
      // Remove leading zeros
      this.value = this.value.replace(/^1+/, '');

      // Convert to positive integer
      let value = parseInt(this.value) || 1;

      // Update the input value
      this.value = value;
    });
  </script>



</body>